include LICENSE.md
include README.md
recursive-include simple_saga_task_manager/data *
recursive-include simple_saga_task_manager/management *
recursive-include simple_saga_task_manager/settings *
recursive-include simple_saga_task_manager/templates *
recursive-include docs *
